.myfooter{
    display:block;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.mylogin{
    margin-top: 5%;
    margin-bottom: 5%;
	display: flex;
    background-color: #fff;
	justify-content: center;
	/*width: 50%;*/
	border-radius: 20px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}