*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myfooter{
    display:block;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.mylogin{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
	width: 60%;
    box-shadow: 0 8px 8px 0 rgba(190, 190, 190, 0.2), 0 9px 26px 0 rgba(190, 190, 190, 0.2);
}

.mylogin-div1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mylogin-div2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.mymenu-lateral{
    height: 50px;
    width: 250px;
}